extends layout_ic1

block content
    .container-fluid
      .row-fluid
        .span12
          .hero-unit
            h1 Chart IC1
            p
                div(id="ic1", class="graph_container")
            p
            a.btn(href='#') View details »
            script(type="text/javascript" src="javascripts/build/chart_ic1.js")

