doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    // script(src='/javascripts/underscore/underscore.js')
    script(src='/javascripts/react/react.js')
    script(src='/javascripts/react/react-dom.js')
    // script(src='/javascripts/react/JSXTransformer.js')
    script(src='/javascripts/d3js/d3.js')
    script(src='/javascripts/d3js/d3.min.js')
    script(src='/javascripts/d3js/d3.v3.min.js')
    script(type='text/javascript', src='/javascripts/jquery/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
    //link(rel='stylesheet', href='/stylesheets/graphs.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    block content

