doctype html
html
  head
    meta(charset='UTF-8')
    title= Toto
    script(src='/javascripts/react/react.js')
    script(src='/javascripts/react/react-dom.js')
    script(src='/javascripts/d3js/d3.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/graphs.css')
  body
    block content
